@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "AdminSendedMessageDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<h1>"@Model.SenderName" İsimli Kişiden Mesaj</h1>
<br />
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">Öne Çıkanlar'ı Düzenle</p>
            <form class="forms-sample">
                @Html.Label("Kime :")
                @Html.TextBoxFor(x => x.ReceiverName, new { @class = "form-control", @readonly = "readonly", @style = "color: black" })
                <br />
                @Html.Label("Gönderilen Mail :")
                @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control", @readonly = "readonly", @style = "color: black" })
                <br />
                @Html.Label("Konu :")
                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", @readonly = "readonly", @style = "color: black" })
                <br />
                @Html.Label("Tarih :")
                @Html.TextBoxFor(x => x.Date, new { @class = "form-control", @readonly = "readonly", @style = "color: black" })
                <br />
                @Html.Label("Mesaj :")
                @Html.TextAreaFor(x => x.Content, 5, 3, new { @class = "form-control", @readonly = "readonly", @style = "color: black" })
            </form>
        </div>
    </div>
</div>
<br />
<a href="/Message/RecievedAdminMessages" class="btn btn-sm btn-danger">Geri Dön</a>
<a href="#" class="btn btn-sm btn-warning">Yanıtla</a>
