@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Düzenleme</h3>
</div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample">
                @using (Html.BeginForm("EditSkill","Skill",FormMethod.Post))
                {
                 @Html.HiddenFor(x=>x.SkillId)
                 <br />
                 @Html.Label("Yetenek Adı")
                 @Html.TextBoxFor(x=>x.Title,new {@class="form-control"})
                 <br />
                 @Html.Label("Değer")
                 @Html.TextBoxFor(x=>x.Value,new {@class="form-control"})
                 <br />
                 <button class="btn btn-primary"> Kaydet</button>
                 
                }
            </form>
            <br />
            <a href="/Skill/Index" class="btn btn-danger">Geri Dön</a>
        </div>
    </div>
</div>

