@model EntityLayer.Concrete.Feature
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h1>Öne Çıkanlar</h1>

@using (Html.BeginForm("Index", "Feature", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">Öne Çıkanlar'ı Düzenle</p>
                <form class="forms-sample">
                    <br />
                    @Html.HiddenFor(x => x.FeatureId)
                    @Html.Label("Başlık")
                    @Html.TextBoxFor(x => x.Header, new { @class = "form-control" })
                    <br />
                    @Html.Label("İsim")
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    <br />
                    @Html.Label("Alt Başlık")
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })

                    <br />
                    <button class="btn btn-primary"> Öne Çıkanları Güncelle </button>
                </form>
            </div>
        </div>
    </div>
    
}

<br />

