@model EntityLayer.Concrete.Testimonial
@{
    ViewData["Title"] = "TestimonialDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Referans Düzenle</h3>
</div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("TestimonialDetails", "Testimonial", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.TestimonialId)
                @Html.Label("Referans Adı")
                @Html.TextBoxFor(x => x.ClientName, new { @class = "form-control" })
                <br />
                @Html.Label("Şirket")
                @Html.TextBoxFor(x => x.Company, new { @class = "form-control" })
                <br />
                @Html.Label("Resim Yolu")
                @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                <br />
                @Html.Label("Açıklama")
                @Html.TextAreaFor(x => x.Comment, 10, 3, new { @class = "form-control" })
                <br />
                <button class="btn btn-outline-success"> Kaydet</button>

            }
        </div>
    </div>
</div>

<a href="/Testimonial/Index" class="btn btn-danger">Geri Dön</a>
<br />
